<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarBazzar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <header class="head">
                <nav class="nav-head">
                    <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
                </nav>
        </header>
    <main class="content">
        <h1>Car Bazzar</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus distinctio dignissimos sunt tempora omnis, accusamus harum repellat veritatis illo. Recusandae sunt provident quod laboriosam deleniti temporibus laborum vel molestias vitae.
            Mollitia autem repellat pariatur necessitatibus nostrum, facilis architecto? Neque, impedit? Dolorum, dolorem hic, error qui quidem cum ex quam fuga, velit doloremque vero id cupiditate nobis laudantium ratione porro placeat.
            Voluptas, vitae minus possimus doloribus odio reprehenderit! Similique, velit sit magni iusto, numquam consectetur ipsum molestias placeat hic optio amet dolorem illum corrupti! Ut magni voluptatem tempora ea voluptatibus. Inventore?
        </p>
        <table>
            <th>Name</th>
            <th>Age</th>
            <th>Roll No</th>
            <tr>
                <td>xyz</td>
                <td>rew</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>xyz</td>
                <td>rew</td>
                <td>1234</td>
            </tr>
        </table>
    </main>
    <footer class="footer">
        <nav class="nav-foot">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
        copyright &copy carbazaar
    </footer>
</body>

</html>